extends ../layout

block content
  h1 Login
  form(action="/login",method="post")        
        .form-group
            label(for="email") Email
            input#email(type="email", class="form-control", name="email" value="fa18-bse-076@cuilahore.edu.pk",required)
        .form-group
            label(for="password") Password
            input#price(type="password", class="form-control", name="password", value="12345",required)
        input(type="submit", class="btn btn-info" value="Login")
